body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Footer Css code starts here */
section.footer {
  background-color: rgba(12, 10, 17, 0.986);
  background-image: url(./Assets/Images/footer.png);
  background-position: center;
  background-size: cover;
  height: fit-content;
  color:#fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section.footer > .first-footer {
  padding:5rem;
  color:#fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
section.footer > .first-footer > .bottom-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
}
section.footer > .first-footer > .bottom-footer > div li {
  list-style-type: none;
  margin-bottom: .9rem;
}
section.footer > .first-footer > .top-footer > h1:first-child {
  font-family: monospace;
  font-size: 2.5rem;
}
section.footer > .first-footer > .top-footer > p {
  font-size: .9rem;
}
section.footer > .last-footer {
  text-align: center;
  font-size: smaller;
  font-style: oblique;
}
@media only screen and (max-width: 720px) {
  section.footer > .first-footer {
    flex-direction: column;
    padding: 2.5rem;
  }
  section.footer > .first-footer > .top-footer {
    margin-bottom: 2.6rem;
  }
  section.footer > .first-footer > .top-footer > h1:first-child {
    font-family: monospace;
    font-size: 1.7rem;
  }
  section.footer > .first-footer > .bottom-footer {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
  section.footer > .first-footer >  .bottom-footer > div li {
    font-size: .8rem;
  }
}